<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>AiHelp</key>
	<dict>
		<key>appId</key>
		<string>gamehollywoodhk_platform_25ef3909-adc9-4aa1-9171-0dba5bd7be75</string>
		<key>appSecret</key>
		<string>GAMEHOLLYWOODHK_app_19830bcb96424b0385f6026bad311f52</string>
		<key>domain</key>
		<string>gamehollywoodhk@aihelp.net</string>
	</dict>
	<key>AiHelp-2</key>
	<dict>
		<key>appId</key>
		<string>gamehollywoodhk_platform_6d14a1b4-2f5d-4191-a355-2268f5f19310</string>
		<key>appSecret</key>
		<string>GAMEHOLLYWOODHK_app_ef0155e6d135405f8f4499539cad872b</string>
		<key>domain</key>
		<string>gamehollywoodhk.aihelp.net</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>vk5527303</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1281771621973222</string>
				<string>com.wing.sdk</string>
				<string>vk5527303</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-FXJ0BYeSakTGtm0Bh5OO62U9X</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>1281771621973222</string>
	<key>FacebookDisplayName</key>
	<string>com.ghw.sdk</string>
	<key>Instagram</key>
	<dict>
		<key>clientId</key>
		<string>9b5eddd42ee048179f414a2c038365e4</string>
		<key>clientSecret</key>
		<string>83d4468b062a427780bda2ad568e5be0</string>
		<key>redirectUri</key>
		<string>http://blog.wing-analytics.com/</string>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-share-api</string>
		<string>app870200932</string>
		<string>fbshareextension</string>
		<string>vkauthorize</string>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSCameraUsageDescription</key>
	<string>需要使用相机</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要添加图片到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要使用相册</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>访问您的设备标识符(IDFA)</string>
	<key>Twitter</key>
	<dict>
		<key>consumerKey</key>
		<string>FXJ0BYeSakTGtm0Bh5OO62U9X</string>
		<key>consumerSecret</key>
		<string>Uo9Es3m8FNBLtcGjzrU3oyoBOczkqzga8sgPoOsERJ8dDWScf4</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
